<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userController" class="com.zxt.user.UserController" />

    <bean id="myBeanImp" class="com.zxt.mybean.MyBeanImp">
        <property name="name" value="HanMeimei" />
        <property name="list">
            <list>
                <ref bean="userModel1"/>
            </list>
        </property>
    </bean>

    <bean id="userModel1" class="com.zxt.user.UserModel" init-method="init" destroy-method="destroy">
        <property name="userName" value="HanMeimei" />
        <property name="userPassword" value="thisispwd" />
        <property name="userSex" value="男" />
        <property name="userHome" value="BeiJin" />
        <property name="userInfo" value="HanMeimei" />
        <property name="userEmail" value="zxt_zel_npl@163.com" />
    </bean>
</beans>