<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--切面-->
    <bean id="moocAspect" class="com.zxt.imooc.five.MoocAspect" />

    <!--目标对象-->
    <bean id="aspectBiz" class="com.zxt.imooc.five.biz.AspectBiz" />

    <!--配置切入点-->
    <aop:config>
        <aop:aspect id="moocAspectAOP" ref="moocAspect">
            <aop:pointcut expression="execution(* com.zxt.imooc.five.biz.AspectBiz.*(..))" id="moocPointcut"/>
            <aop:before method="before" pointcut-ref="moocPointcut"/>
            <aop:after method="after" pointcut-ref="moocPointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="moocPointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="moocPointcut"/>
            <aop:around method="around" pointcut-ref="moocPointcut"/>

            <aop:around method="aroundInit" pointcut="execution(* com.zxt.imooc.five.biz.AspectBiz.*(String,int)) and args(bizName,times)"/>

            <aop:declare-parents types-matching="com.zxt.imooc.five.biz.AspectBiz+"
                                 implement-interface="com.zxt.imooc.five.fiz.Fiz"
                                 default-impl="com.zxt.imooc.five.fiz.FizImpl"/>
        </aop:aspect>
    </aop:config>

</beans>